.safe {
    background-color: #59B4DB;
    border-color: #59B4DB transparent transparent transparent;
}

.warning {
    background-color: #FFD073;
    border-color: #FFD073 transparent transparent transparent;
}

.danger {
    background-color: #FF9EAE;
    border-color: #FF9EAE transparent transparent transparent;
}


.tippy-box[data-theme~='safe'] {
    background-color: white;
    border: 1px solid #59B4DB;
    color: #888888;
}

.tippy-box[data-theme~='safe']>.tippy-svg-arrow {
    fill: white;
}

.tippy-box[data-theme~='safe'][data-placement^='top']>.tippy-arrow::before {
    border-top: 6px solid #59B4DB;
}

.tippy-box[data-theme~='safe'][data-placement^='bottom']>.tippy-arrow::before {
    border-bottom: 6px solid #59B4DB;
}

.tippy-box[data-theme~='safe'][data-placement^='left']>.tippy-arrow::before {
    border-left: 6px solid #59B4DB;
}

.tippy-box[data-theme~='safe'][data-placement^='right']>.tippy-arrow::before {
    border-right: 6px solid #59B4DB;
}



.tippy-box[data-theme~='warning'] {
    background-color: white;
    border: 1px solid #FFD073;
    color: #888888;
}

.tippy-box[data-theme~='warning']>.tippy-svg-arrow {
    fill: white;
}

.tippy-box[data-theme~='warning'][data-placement^='top']>.tippy-arrow::before {
    border-top: 6px solid #FFD073;
}

.tippy-box[data-theme~='warning'][data-placement^='bottom']>.tippy-arrow::before {
    border-bottom: 6px solid #FFD073;
}

.tippy-box[data-theme~='warning'][data-placement^='left']>.tippy-arrow::before {
    border-left: 6px solid #FFD073;
}

.tippy-box[data-theme~='warning'][data-placement^='right']>.tippy-arrow::before {
    border-right: 6px solid #FFD073;
}



.tippy-box[data-theme~='danger'] {
    background-color: white;
    border: 1px solid #FF9EAE;
    color: #888888;
}

.tippy-box[data-theme~='danger']>.tippy-svg-arrow {
    fill: white;
}

.tippy-box[data-theme~='danger'][data-placement^='top']>.tippy-arrow::before {
    border-top: 6px solid #FF9EAE;
}

.tippy-box[data-theme~='danger'][data-placement^='bottom']>.tippy-arrow::before {
    border-bottom: 6px solid #FF9EAE;
}

.tippy-box[data-theme~='danger'][data-placement^='left']>.tippy-arrow::before {
    border-left: 6px solid #FF9EAE;
}

.tippy-box[data-theme~='danger'][data-placement^='right']>.tippy-arrow::before {
    border-right: 6px solid #FF9EAE;
}
